
extends base

block content
  .container
    .mt-3.mb-1.row.align-items-end.justify-content-center(style='height: 100px')
      h3.m-0.text-center
      .col-md-6.col-9
        form(action=`/admin_attend_students` method='GET')
          .input-group.d-flex.justify-content-center.align-items-center
            input.form-control(type='text' name='adminInputSearch' value=`${adminInputSearch}` placeholder='Search Student' aria-describedby='after')
            button.btn.btn-primary#after(type='submit') Search
    .row.align-items-center.teacher-container-row.mx-3.mx-md-0
      .col-12.card-section.py-3
        .row.justify-content-center.align-items-center.g-2
          if !result
            if (newStudents.length<1)
              h5.text-center.text-danger No students for today!
            each student in newStudents
              -const cdate = 'date' in student
              -let bgColor = ''
              if cdate
                if student.attended==='present'
                  - bgColor ='btn-success'
                if student.attended==='teacher absent'
                  - bgColor ='btn-danger'
                if student.attended==='student absent'
                  - bgColor ='btn-warning'
                
              .col-sm-6.col-md-4.col-lg-3.xl-2.xxl-1.teacher-card.text-center
                .card.pb-3
                  .card-body
                    img(src=`/images/students/${student.gender}.png` alt=`${student.gender}` width='75')
                    .card-title= student.name 
                    .card-card-subtitle= student.teacherName
                    div Time:
                      | 
                      small.text-primary= student.startClass
                        | 
                        span - 
                          span= student.endClass
                    div Off Days:
                      | 
                      each day in student.vacation
                        span.text-secondary= day.substring(0,1).toUpperCase() + day.substring(1,3) 
                          |, 
                    .mt-2.d-flex.justify-content-around.align-items-center
                      if student.attended==='off day'
                        h6.text-white.bg-primary.py-2.px-3 Off Day
                      else
                        if cdate
                          if student.attended==='present'
                            button.btn.rounded-circle.btn-success.adpresentBtn(title='present حاضر' value=`${student.id}` ) P

                          if student.attended==='student absent'
                            button.btn.rounded-circle.btn-warning.adstudentAbsentBtn(title='student absent شاګرد غیرحاضر' value=`${student.id}`) A
                          if student.attended==='teacher absent'
                            button.btn.rounded-circle.btn-danger.adteacherAbsentBtn(title='Teacher absent استاد غیر حاضر' value=`${student.id}` ) T.A
                        else
                          button.btn.rounded-circle.btn-secondary.adpresentBtn(title='present حاضر' value=`${student.id}` type='button' ) P
                          button.btn.rounded-circle.btn-secondary.adstudentAbsentBtn(title='student absent شاګرد غیرحاضر' value=`${student.id}`) A
                          button.btn.rounded-circle.btn-secondary.adteacherAbsentBtn(title='Teacher absent استاد غیر حاضر' value=`${student.id}` ) T.A
          if result
            h6.text-dander.text-center= result
                      
                      
