extends base

block content
  .container
    .row.align-items-end.justify-content-center(style='height: 100px').mt-5
      h3.mt-0.text-center Our Students
      .col-md-6.col-9
        form(action='/students' method='GET') 
          .input-group.d-flex.justify-content-center.align-items-center
            input.form-control(type='text' value=`${allStudentSearch}` name='allStudentSearch' placeholder='Search Student' aria-describedby='after')
            button.btn.btn-primary#after(type='submit') Search
    .row.align-items-center.teacher-container-row.mx-3.mx-md-0.mt-2
      .col-12.card-section.py-3
        .row.justify-content-center.g-2
          if !result
            each student in students
              .col-sm-6.col-md-4.col-lg-3.xl-2.xxl-1.teacher-card.text-center
                .card.pb-3.h-100
                  .card-body
                    img(src=`./images/students/${student.gender}.png` width='70' alt='pc')
                    .card-title= student.name
                    if student.teacherName
                      .card-card-subtitle= student.teacherName
                    else 
                      .card-card-subtitle.text-danger No Teacher!
                  .my-2.d-flex.justify-content-center.align-items-center
                      button.btn-sm.btn-danger.mx-1.deleteStudentBtn( value=`${student._id}`)
                        i.bi.bi-trash
                      a.btn-sm.btn-warning.mx-1(href=`/edit_student/${student.id}` )
                        i.bi.bi-pencil
                  a.link-success(href=`/student_info/${student.id}`) Read More
          if result 
            h6.text-center.text-danger= result
